<div class="col-xs-10 col-xs-offset-1">
  <table class="table">
    <tr>
      <th>Home Team</th>
      <th>Away Team</th>
      <th>Bowl</th>
      <th>Date</th>
      <th>Spread</th>
    </tr>

    <% @games.each do |game| %>
      <tr>
        <td><%= game.home_team %></td>
        <td><%= game.away_team %></td>
        <td><%= game.bowl %></td>
        <td><%= game.date ? game.date.strftime("%a, %B %-m, %Y") : "" %></td>
        <td><%= game.spread %></td>
      </tr>
    <% end %>
  </table>
</div>