<% if @game.errors.any? %>
  <% @game.errors.full_messages.each do |error| %>
    <div class="alert alert-danger col-xs-6 col-xs-offset-3">
      <%= error %>
    </div>
  <% end %>
<% end %>

<%= form_for @game, html: {class: "col-xs-6 col-xs-offset-3"} do |f| %>
  <div class="form-group">
    <%= f.label :bowl %>
    <%= f.text_field :bowl, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :home_team %>
    <%= f.text_field :home_team, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :away_team %>
    <%= f.text_field :away_team, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_select :date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :spread %>
    <%= f.number_field :spread, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-success" %>
<% end %>
